.error_message{
   color: red;
   font-size: medium;
}

.goToReg:hover{
   color: blue;
   text-decoration: underline;
}

#reg, #auth{
   border: 3px blue inset;
   margin-top: 5%;
   padding: 0 10px 0 10px;

}


input{
   text-align: center;
}